
#room236a{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room202{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room204{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room206{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room208{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room216{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room218{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room224{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room226{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room228{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room232{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room236{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room237{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room225{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room217{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room209{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room229{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room233{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room221{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room213{
 /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}

#room205{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room235{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room223{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room215{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room207{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room227{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room231{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room219{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room211{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room203{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room201{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room234{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room222{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room220{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room214{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room210{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room230{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room212{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room106{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room110{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room120{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room112{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room116{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room108{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room104{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room118{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room102{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room114{
  
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#Breezahall{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#OldTalisayBar{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#Gazebo{
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#DinningHall{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#CapizHall{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room232{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room236{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room224{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room220{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room228{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room216{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room223{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room219{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room215{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room203{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room211{

 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

.roomHover:hover{
    transition: all 0.1s ease;
    cursor: pointer;
}


#stairsA{
 /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}

#hall{
    fill: grey; /* Changes the fill color */
 /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#stairsB{
 /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}

.reserved{
    fill: #6F42C1 ;
}

.pending{
    fill: #FFC107;
}

.cancelled{
    fill: #DC3545;
}

.completed{
    fill: #28A745;
}

.normal{
    fill: #121212;
}


