
#room236a{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room202{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room204{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room206{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room208{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room216{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room218{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room224{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room226{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room228{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room232{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room236{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room237{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room225{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room217{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room209{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room229{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room233{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room221{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room213{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}

#room205{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room235{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room223{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room215{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room207{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room227{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room231{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room219{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room211{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room203{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room201{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room234{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room222{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room220{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room214{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room210{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room230{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room212{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room106{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#room110{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room120{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room112{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room116{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room108{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room104{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room118{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room102{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room114{
  
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#breezahall{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#oldTalisayBar{
    fill: #FF1B09;
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#gazebo{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#dinningHall{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#capizHall{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room232{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room236{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room224{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room220{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room228{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room216{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room223{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room219{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room215{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room203{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}
#room211{

    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

.roomHover:hover{
    scale: 1.0028;
    transition: all 0.1s ease;
    cursor: pointer;
}


#stairsA{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}

#hall{
    fill: grey; /* Changes the fill color */
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in;
}

#stairsB{
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}

#test{
    fill: rgb(202, 226, 43); /* Changes the fill color */
    stroke: blue; /* Changes the stroke color */
    transition: all 0.2s ease-in; 
}




