.sidebarStyle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  color: white;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  box-shadow: -11px 0px 48px 16px rgba(80, 78, 78, 0.75);
  background-color: #001f3f;
}

.headerStyle {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.logoStyle {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  margin: 0 0.5rem 0 0;
}

.titleStyle {
  font-size: 1rem;
  font-family: 'Oswald';
  font-weight: 500;
  display: block;
}

.subtitleStyle {
  font-size: 0.42rem;
  font-family: 'Montserrat';
  font-style: italic;
}

.navStyle {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  color: white;
}

.navMoreInfo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  position: relative;
  transition: background-color 0.5s ease, color 0.3s ease; /* Combined transition */
}

.navMoreInfo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FCB813;
  transition: width 0.3s ease;
}

.navstyleBottom {
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  color: white;
  overflow-y: auto;
}

.linkStyle {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.linkStyle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FCB813;
  transition: width 0.3s ease;
}

.linkTextStyle {
  margin-left: 0.5rem;
  display: inline;
  transition: color 0.3s ease;
}

.header-container {
  justify-content: space-between;
  flex-direction: row;
}

.menu>svg {
  transition: all 0.3s ease-in-out;
}

.menu>svg:hover {
  color: #ffcc00;
  scale: 1.5;
}

.profile-text {
  margin-left: 5%;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  transition: width 0.3s ease, height 0.3s ease;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.profile-email {
  font-size: 10px;
  color: #ccc;
  margin: 0;
}

.dropdownMenu {
  background-color: #fff;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  border-radius: 3px;
}

/* ===================================================================== */
/* HOVER STATE */

.linkStyle:hover::after {
  width: 100%;
}

.linkStyle:hover {
  color: #FCB813;
}

.linkStyle:hover .linkTextStyle {
  color: #FCB813;
}

.linkStyle:hover svg {
  color: #FCB813;
}

.navMoreInfo:hover {
  color: #FCB813;
}

.navstyleBottom .linkStyle {
  color: white;
}

.dropdownItem:hover {
  color: #FCB813;
}

/* =================================================================== */
/* Spinner */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

.loader:after,
.loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #ffcc00;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loader:before {
  transform-origin: 0 50%;
  background: #001f3f;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
